<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='/styles/styles.css' />
    <title>Auth Api</title>
</head>
<body>
    <nav>
        <h1>
            Auth Template
        </h1>
        <ul>
            <li>
                <a href="/signup">
                    Signup
                </a>
            </li>
            <li>
                <a href="/login">
                    Login
                </a>
            </li>
            <li>
                <a href="/private">
                    Private
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>